/* Navigation*/  
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 9px;
}

/* Home section */
#home{
height: 278px;
padding: 3px 0px;
}
#home::before{
    height: 400px;
    }
#home p{
    font-size: 13px;
}
/* srvices section */
#services{
flex-direction: column;
}
/* client section  */
#clients{
    flex-wrap: wrap;
}
#clients img{
   width: 66px;
   padding:0px 0px;
}
/* contact us section  */

/* footer */

/* utility classes  */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}